/* || IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* || GENERAL STYLES */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* || UTILITIES */

.nobullets {
  list-style: none;

  margin: 0;
  padding: 0;
}

/* || SITEWIDE */

.header,
.footer {
  flex: 0 0 auto;
}

.container {
  flex: 1;
}

.container-wrapper {
  max-width: 800px;
}

/* || HEADER */

.header {
  padding-bottom: 128px;

  background-color: #1F2937;

  display: flex;
  justify-content: center;
}

.header-wrapper {
  max-width: 1200px;
  padding: 8px 0;

  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-text {
  font-size: 24px;
  color: #F9FAF8;
}

.header ul {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 16px;
}

.header ul li {
  list-style-type: none;

  font-size: 18px;
  color: #E5E7EB;
}

/* || HERO */

.hero {
  padding-bottom: 128px;

  background-color: #1F2937;

  display: flex;
  justify-content: center;
  gap: 32px;
}

.hero-container-wrapper {
  max-width: 1200px;
  display: flex;
}

.hero-wrapper {
  /* max-width: 700px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.hero-title {
  margin: 0;

  font-size: 48px;
  font-weight: 800;
  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping for common weight name mapping */
  color: #F9FAF8;
}

.hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-button-sign-up {
  padding: 6px 12px;
  width: 100px;

  background-color: #3882F6;
  border-style: none;
  border-radius: 6px;
  color: #E5E7EB;
  font-weight: bold;
}

.hero-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

/* || MEDIA */

.media {
  padding: 32px 0 128px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-title {
  margin-bottom: 32px;

  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.media-object {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.media-object img {
  width: 200px;
  height: 200px;
}

/* || QUOTE */

.quote {
  padding: 128px 0;

  background-color: #E5E7EB;

  display: flex;
  justify-content: center;
}

.quote-wrapper {
  color: #1F2937;

  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-size: 24px;
  font-weight: bold;
}

/* || MODAL */

.modal {
  padding: 128px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  background-color: #3882F6;
  width: 700px;
  padding: 32px 96px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}

.modal-title {
  color: #F9FAF8;
  font-size: larger;
  font-weight: bold;
}

.modal-subtitle {
  color: #E5E7EB;
}

.modal-button-sign-up {
  padding: 6px 12px;
  width: 100px;

  background-color: #3882F6;
  border: 2px solid #E5E7EB;
  border-radius: 6px;
  color: #E5E7EB;
  font-weight: bold;

  align-self: center;
}

/* || FOOTER */

.footer {
  padding: 30px;

  background-color: #1F2937;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}